.myImage {
  margin-left: 70px;
  border-radius: 50%;
  width: 50%;
}

.overviewCard {
  height: 120px;
  height: 90%;
  margin-left: 20px;
  background-color: #141722 !important;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1.5px 10px 3px rgb(97 48 238 / 35%) !important;
}

.center {
  text-align: center;
}

.tabPanelDiv {
  height: 450px;
}